body{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(78, 78, 78);
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    background-color: rgb(236, 117, 57);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%
}

input[type="text"] {
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
}